{% extends "base.html" %} {% block title %}Add admin{% endblock %} {% block
content %}
<style>
    body {
      background-color: white;
      background-image: url('static/adminhome.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  shadow {
    text-shadow: 0px 0px 8px #FFFFFF;
}


</style>

<form method="POST">
  <h1><shadow/><h1/>

     <h1 align="center">Chose Game</h1>
  <label>Select Game:</label>
  <select id="id" name="game">
    {% for mecz in Mecze %}
    <option value="{{ mecz[0]}}">{{ mecz }}</option>
    {% endfor %}
  </select>
       <h1      />
    <label for="kurs1">Kurs na Pierwsza Druzyne</label>
<input type="number" id="kurs1" name="kurs1" min="0" max="99" step="0.01">

       <h1      />
    <label for="kurs2">Kurs na Druga Druzyne</label>
<input type="number" id="kurs2" name="kurs2" min="0" max="99" step="0.01">
       <h1      />
    <label for="kursx">Kurs na Remis</label>
<input type="number" id="kursx" name="kursx" min="0" max="99" step="0.01">

    <button type="submit" class="btn btn-primary">Submit</button>

</form>


{% endblock %}
