{% extends "base.html" %} {% block title %}Add admin{% endblock %} {% block
content %}
<style>
    body {
      background-color: white;
      background-image: url('static/adminhome.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  shadow {
    text-shadow: 0px 0px 8px #FFFFFF;
}


</style>

<form method="POST">
  <h1><shadow/><h1/>
    <p>
     <h1 align="center">Edit Game</h1>

  <label>Select Game:</label>
  <select id="id" name="game">
    {% for mecz in Mecze %}
    <option value="{{ mecz[0]}}">Liga: {{ mecz[1] }} DR1: {{ mecz[3] }} DR2: {{ mecz[4] }} DATA:{{ mecz[2] }}</option>
    {% endfor %}
  </select>
       <p>
     <h1 align="center">Edit Game</h1>
  <div class="form-group">
       <h1      />
    <label for="data">Date</label>
    <input
      type="date"
      id="data"
      name="data"
      placeholder="Enter date"
    />
  </div>
</p>
      <p>
    <h1     />
  <label>Select league:</label>
  <select id="league" onchange="updateTeams()" name="liga">
    {% for league in Ligi %}
    <option value="{{ league }}">{{ league }}</option>
    {% endfor %}
  </select>
  <br>
  </p><p>
        <h1    />
  <label>Select team:</label>
  <select id="team" name="druzyna1">
    <option value="" disabled selected>Select a league first</option>
  </select>
  </p><p>

        <h1    />
      <label>Select second team:</label>
  <select id="team2" name="druzyna2">
    <option value="" disabled selected>Select a league first</option>
  </select>
    </p>

        <input type="submit" value="Submit" >

</form>

<script>
  function updateTeams() {
    var league = document.getElementById("league").value;
    var teamList = document.getElementById("team");
    teamList.innerHTML = "";
    var teamList2 = document.getElementById("team2");
    teamList2.innerHTML = "";
    {% for league, teams in Ligi.items() %}
    if (league == "{{ league }}") {
      {% for team in teams %}
      var option = document.createElement("option");
      option.value = "{{ team }}";
      option.text = "{{ team }}";
      teamList.add(option);
      {% endfor %}
      {% for team2 in teams %}
      var option = document.createElement("option");
      option.value = "{{ team2 }}";
      option.text = "{{ team2 }}";
      teamList2.add(option);
      {% endfor %}
    }
    {% endfor %}
  }
</script>

{% endblock %}
