{% extends "base.html" %} {% block title %}Add admin{% endblock %} {% block
content %}


<head>
<link rel="stylesheet" href="static/index.css">
<style>
body {
  background-color: withe;
  background-image: url('static/adminhome.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
<h1>        </h1>
<h2>        </h2>

<div align="center">
  <button type="button" class="button-85" onClick="window.location.href='/dodmecz'">Dodaj Mecz</button>
</div>
<div align="center">
  <button type="button" class="button-85" onClick="window.location.href='/zmmecz'">Edytuj Mecz</button>
</div>
<div align="center">
  <button type="button" class="button-85" onClick="window.location.href='/dodadmin'">Dodaj Admina</button>
</div>
<div align="center">
  <button type="button" class="button-85" onClick="window.location.href='/zmadmin'">Edytuj Admina</button>
</div>

{% endblock %}