{% extends "base.html" %} {% block title %}Add admin{% endblock %} {% block
content %}


<head>
<link rel="stylesheet" href="static/index.css">
<style>
body {
  background-color: withe;
  background-image: url('static/adminhome.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
<h1>        </h1>

<div align="left">
  <button type="button" class="button-85" onClick="window.location.href='/dodmecz'">Add Game</button>
</div>
<div align="left">
  <button type="button" class="button-85" onClick="window.location.href='/zmmecz'">Edit Game</button>
</div>
<div align="left">
  <button type="button" class="button-85" onClick="window.location.href='/zmwynik'">Add end score</button>
</div>


<div align="right">
  <button type="button" class="button-85" onClick="window.location.href='/dodadmin'">Add Admin</button>
</div>


{% endblock %}