<head>
<link rel="stylesheet" href="static/index.css">
<style>
body {
  background-color: darkgreen;
  background-image: url('static/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
</head>
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">,</h1>
<div align="center">
  <button type="button" class="block" onClick="window.location.href='/page1'">Portfel</button>
</div>
<div align="center">
  <button type="button" class="block" onClick="window.location.href='/page1'">Mecze</button>
</div>
<div align="center">
  <button type="button" class="block" onClick="window.location.href='/page5'">Kupony</button>
</div>
{% endblock %}